
@using TransitoWeb.Models;
@{
    ViewData["Title"] = "VerDetalle";
    Layout = null;
}

@{ 
    @Model Reporte reporte = new Reporte();
    @Model Dictamen dictamen = new Dictamen();
    @Model List<FotoReporte> fotos = new List<FotoReporte>();

    fotos = ViewBag.Fotos;

    var nombreImplicado = "";
    var placa = "";
    var placasImplcado = "";
    var marcaImplicado = "";
    var modeloImplicado = "";
    var colorImplicado = "";
    var nombreAseguradoraImplicado = "";
    var numPolizaImplicado = "";

    if (ViewBag.Dictamen != null)
    {
        dictamen = ViewBag.Dictamen;
    }

    if (ViewBag.Reporte != null)
    {
        reporte = ViewBag.Reporte;
    }

    if (reporte.Placa != null)
    {
        placa = reporte.Placa;
    }
    if (reporte.NombreImplicado != null)
    {
        nombreImplicado = reporte.NombreImplicado;
    }
    if (reporte.PlacasImplicado != null)
    {
        placasImplcado = reporte.PlacasImplicado;
    }
    if (reporte.MarcaImplicado != null)
    {
        marcaImplicado = reporte.MarcaImplicado;
    }
    if (reporte.ModeloImplicado != null)
    {
        modeloImplicado = reporte.ModeloImplicado;
    }
    if (reporte.ColorImplicado != null)
    {
        colorImplicado = reporte.ColorImplicado;
    }
    if(reporte.NombreAseguradoraImplicado != null)
    {
        nombreAseguradoraImplicado = reporte.NombreAseguradoraImplicado;
    }
    if(reporte.NumPolizaImplicado != null)
    {
        numPolizaImplicado = reporte.NumPolizaImplicado;
    }
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento sin título</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                Conductor
            </div>
            <div class="col">
                Conductor implicado
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                Datos Personales
                <div>
                    <label for="">Nombre:</label><label>@ViewBag.Conductor.Nombre </label>
                </div>
                <div>
                    <label for="">Num. Licencia:</label><label>@ViewBag.Conductor.NumLicencia</label>
                </div>
                <div>
                    <label for="">Teléfono:</label><label>@ViewBag.Conductor.Telefono</label>
                </div>
            </div>
            <div class="col">
                Datos del Vehiculo
                <div>
                    <label for="">Placa:</label><label>@placa</label>
                </div>
                <div>
                    <label for="">Marca:</label><label>@ViewBag.Vehiculo.Marca</label>
                </div>
                <div>
                    <label for="">Modelo:</label><label>@ViewBag.Vehiculo.Modelo</label>
                </div>
                <div>
                    <label for="">Color:</label><label>@ViewBag.Vehiculo.Color</label>
                </div>
                <div>
                    <label for="">Año:</label><label>@ViewBag.Vehiculo.Anio</label>
                </div>
                <div>
                    <label for="">Nombre de Aseguradora:</label><label>@ViewBag.Vehiculo.NombreAseguradora</label>
                </div>
                <div>
                    <label for="">Número de poliza:</label><label>@ViewBag.Vehiculo.NumPoliza</label>
                </div>
            </div>
            <div class="col">
                Datos Personales
                <div>
                    <label for="">Nombre:</label><label>@nombreImplicado</label>
                </div>
            </div>
            <div class="col">
                Datos del Vehiculo
                <div>
                    <label for="">Placa:</label><label>@placasImplcado</label>
                </div>
                <div>
                    <label for="">Marca:</label><label>@marcaImplicado</label>
                </div>
                <div>
                    <label for="">Modelo:</label><label>@modeloImplicado</label>
                </div>
                <div>
                    <label for="">Color:</label><label>@colorImplicado</label>
                </div>
                <div>
                    <label for="">Nombre de Aseguradora:</label><label>@nombreAseguradoraImplicado</label>
                </div>
                <div>
                    <label for="">Número de poliza:</label><label>@numPolizaImplicado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <input type="image">
            </div>
            <div class="col-sm">
                <label>Dictamen:</label>
                <div>
                    <textarea cols="55" rows="10" disabled>@dictamen.Descripcion</textarea>
                </div>
            </div>
            <div class="col-sm">
                <a onclick="mostrarCuadroDictamen();"><input class="btn btn-primary" type="button" value="Dictaminar"></a>
                <a href="/Perito/VisualizarReportes/?idSesion=@ViewBag.idSesion"><input class="btn btn-primary" type="button" value="Regresar"></a>
            </div>
        </div>
    </div>
    <label>@fotos.ElementAt(1).Imagen</label>
    <label>@fotos.ElementAt(1).IdReporte</label>
    <label>@fotos.ElementAt(1).Idfoto</label>
    <div class="modal fade" id="dialogoDictaminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dictamen</h5>
                </div>
                <div class="modal-body">
                    <form name="formaRegistro" id="formaRegistro" action="/Perito/Registro" method="post">
                        <div class="form-group">
                            <div>
                                <label for="recipient-name" class="col-form-label">Dictamen:</label>
                            </div>
                            <textarea cols="55" rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="button" class="btn btn-primary" onclick="guardarPerito(); return false;" value="Guardar">
                </div>
            </div>
        </div>
    </div>

    <script>
        function mostrarCuadroDictamen() {
            $("#dialogoDictaminar").modal("show");
            $.ajax({
                url: "/Dictamen/Registro",
                data: {
                    "nombre": nombre,
                    "cargo": cargo,
                    "usuario": usuario,
                    "contrasenia": contrasenia,
                },
                type: 'POST',
                success: function (datos) {
                    var resp = jQuery.parseJSON(datos);
                    if (resp.correcto === "si") {
                        $("#dialogoRegistroCorrecto").modal("show");
                        location.reload();
                        $("#dialogoAgregar").modal("hide");
                    } else {
                        errores = "<li>No se pudo registrar el perito.";
                        $("#panelErrores").html(errores);
                        $("#panelErrores").removeClass("hide");
                    }
                }
            });
        }
    </script>
</body>
</html>

