
@using TransitoWeb.Models;
@{
    ViewData["Title"] = "VerDetalle";
    Layout = null;
}

@{ 
    @Model Reporte reporte = new Reporte();
    @Model Dictamen dictamen = new Dictamen();
    @Model List<FotoReporte> fotos = new List<FotoReporte>();
    @Model Vehiculo vehiculo = new Vehiculo();

    fotos = ViewBag.Fotos;

    vehiculo = ViewBag.Vehiculo;

    var nombreImplicado = "";
    var placa = "";
    var placasImplcado = "";
    var marcaImplicado = "";
    var modeloImplicado = "";
    var colorImplicado = "";
    var nombreAseguradoraImplicado = "";
    var numPolizaImplicado = "";

    if (ViewBag.Dictamen != null)
    {
        dictamen = ViewBag.Dictamen;
    }

    if (ViewBag.Reporte != null)
    {
        reporte = ViewBag.Reporte;

    }

    if (reporte.Placa != null)
    {
        placa = reporte.Placa;
    }
    if (reporte.NombreImplicado != null)
    {
        nombreImplicado = reporte.NombreImplicado;
    }
    if (reporte.PlacasImplicado != null)
    {
        placasImplcado = reporte.PlacasImplicado;
    }
    if (reporte.MarcaImplicado != null)
    {
        marcaImplicado = reporte.MarcaImplicado;
    }
    if (reporte.ModeloImplicado != null)
    {
        modeloImplicado = reporte.ModeloImplicado;
    }
    if (reporte.ColorImplicado != null)
    {
        colorImplicado = reporte.ColorImplicado;
    }
    if(reporte.NombreAseguradoraImplicado != null)
    {
        nombreAseguradoraImplicado = reporte.NombreAseguradoraImplicado;
    }
    if(reporte.NumPolizaImplicado != null)
    {
        numPolizaImplicado = reporte.NumPolizaImplicado;
    }

}



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver detalles</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>



<body>

    <div class="container">
        <div class="row">
            <div class="col">
                Conductor
            </div>
            <div class="col">
                Conductor implicado
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                Datos Personales
                <div>
                    <label for="">Nombre:</label><label>@ViewBag.Conductor.Nombre </label>
                </div>
                <div>
                    <label for="">Num. Licencia:</label><label>@ViewBag.Conductor.NumLicencia</label>
                </div>
                <div>
                    <label for="">Teléfono:</label><label>@ViewBag.Conductor.Telefono</label>
                </div>
            </div>
            <div class="col">
                Datos del Vehiculo
                <div>
                    <label for="">Placa:</label><label>@placa</label>
                </div>
                <div>
                    <label for="">Marca:</label><label>@vehiculo.Marca</label>
                </div>
                <div>
                    <label for="">Modelo:</label><label>@vehiculo.Modelo</label>
                </div>
                <div>
                    <label for="">Color:</label><label>@vehiculo.Color</label>
                </div>
                <div>
                    <label for="">Año:</label><label>@vehiculo.Anio</label>
                </div>
                <div>
                    <label for="">Nombre de Aseguradora:</label><label>@vehiculo.NombreAseguradora</label>
                </div>
                <div>
                    <label for="">Número de poliza:</label><label>@vehiculo.NumPoliza</label>
                </div>
            </div>
            <div class="col">
                Datos Personales
                <div>
                    <label for="">Nombre:</label><label>@nombreImplicado</label>
                </div>
            </div>
            <div class="col">
                Datos del Vehiculo
                <div>
                    <label for="">Placa:</label><label>@placasImplcado</label>
                </div>
                <div>
                    <label for="">Marca:</label><label>@marcaImplicado</label>
                </div>
                <div>
                    <label for="">Modelo:</label><label>@modeloImplicado</label>
                </div>
                <div>
                    <label for="">Color:</label><label>@colorImplicado</label>
                </div>
                <div>
                    <label for="">Nombre de Aseguradora:</label><label>@nombreAseguradoraImplicado</label>
                </div>
                <div>
                    <label for="">Número de poliza:</label><label>@numPolizaImplicado</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <input type="image">
            </div>
            <div class="col-sm">
                <label>Dictamen:</label>
                <div>
                    <textarea cols="55" rows="10" disabled id="descripcionHecha">@dictamen.Descripcion</textarea>
                </div>
            </div>
            <div class="col-sm">
                <a onclick="mostrarCuadroDictamen();" style="display:inline"><input class="btn btn-primary" id="dictaminar" type="button" value="Dictaminar"></a>
                <a href="/Perito/VisualizarReportes/?idSesion=@ViewBag.idSesion"><input class="btn btn-primary" type="button" value="Regresar"></a>
            </div>
        </div>
    </div>
    <label>@fotos.ElementAt(1).Imagen</label>
    <label>@fotos.ElementAt(1).IdReporte</label>
    <label>@fotos.ElementAt(1).Idfoto</label>


    <div class="modal fade" id="dialogoDictaminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dictamen</h5>
                </div>
                <div class="modal-body">
                    <form name="formaRegistro" id="formaRegistro" action="/Perito/Registro" method="post">
                        <div class="form-group">
                            <div>
                                <label for="recipient-name" class="col-form-label">Dictamen:</label>
                            </div>
                            <textarea cols="55" rows="10" id="descripcion"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="button" class="btn btn-primary" onclick="dictaminar(); return false;" value="Guardar">
                </div>

                <div id="panelErrores" class="text-danger hide col-md-offset-4" style="margin-bottom:10px;" aria-hidden="true">

                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="dialogoRegistroCorrecto">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Registro de Usuario</h4>
                            </div>
                            <div class="modal-body">
                                <p>El usuario fue actualizado de manera correcta.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <script>
                    function dictaminar() {
                        var descripcion = $("#descripcion").val();
                        var idPerito = @ViewBag.IdPerito;
                        var idReporte = @ViewBag.Reporte.IdReporte;

                        $.ajax({
                            url: "/Dictamen/Registro",
                            data: {
                                "descripcion": descripcion,
                                "idPerito": idPerito,
                                "idReporte": idReporte,
                            },
                            type: 'POST',
                            success: function (datos) {
                                var resp = jQuery.parseJSON(datos);
                                if (resp.correcto === "si") {
                                    $("#dialogoRegistroCorrecto").modal("show");
                                    location.reload();
                                    $("#dialogoDictamina").modal("hide");
                                } else {
                                    errores = "<li>No se pudo registrar el perito.";
                                    $("#panelErrores").html(errores);
                                    $("#panelErrores").removeClass("hide");
                                }
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
    <script>
        var btn_1 = document.getElementById('dictaminar');
        if ($("#descripcionHecha").val() != "") {
            btn_1.style.display = 'none';
        }
    </script>
    <script>
        function mostrarCuadroDictamen() {
            $("#dialogoDictaminar").modal("show");
        }
    </script>
</body>
</html>

